<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
</head>
<body>
    <header>
        {% include 'navbar.html' %}
    </header>
    <main>
        <section class="about-container">
            <h1>About Us</h1>
            <p>Welcome to Charity System. We are committed to helping those in need and making a difference in the world. Our mission is to support various causes through generous donations and volunteer work. We believe in the power of community and strive to create a positive impact through our campaigns.</p>
            <p>Join us in our mission to bring change and make the world a better place. Together, we can achieve great things.</p>
        </section>
    </main>
</body>
<style>
    /* styles for About Us Page */
.about-container {
    max-width: 800px;
    margin: 40px auto;
    padding: 10px;
    background-color: #f7f7f7;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}

.about-container h1 {
    font-size: 28px;
    margin-bottom: 20px;
    color: hsl(197, 93%, 28%);
}

.about-container p {
    font-size: 18px;
    line-height: 1.6;
    color: #333;
    margin-bottom: 15px;
}

</style>
</html>
